/* Fix navbar styling */
.site-header {
    position: fixed;
    border-top: 0px;
    top: 0;
    width: 100%;
    background: $background-color;
    z-index: 1000;
}

.site-header.wrapper {
    padding: 0;
}

.page-content {
    margin-top: 60px;
}

.site-footer {
    padding: 0;
}